@{
   // ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="Ruminations" >
    <h2 class="home page title">Ruminations:</h2>
    <div class="thought_snippet">
        <h3>Thought topic title:</h3>
        <p class="topic_content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div class="thought_snippet">
        <h3>Thought topic title number 2:</h3>
        <p class="topic_content">
            Praesent tellus massa, efficitur vitae enim quis, imperdiet maximus enim. Curabitur consequat nibh nunc, at blandit libero volutpat posuere. Nam at ex rhoncus, fermentum turpis sed, tincidunt neque. Phasellus diam dolor, tristique efficitur malesuada eget, convallis vel metus. Curabitur ullamcorper erat at dui dignissim consectetur. Praesent hendrerit libero a egestas feugiat. Donec convallis vestibulum urna. Ut sed diam non justo euismod dignissim. Vivamus in turpis a purus maximus faucibus quis a justo. Nulla sed orci eget velit porta luctus a ac purus. Duis porta at lacus viverra varius. In cursus rutrum lectus, vitae dignissim enim laoreet at. Suspendisse vitae enim gravida, efficitur tortor ac, bibendum nunc. Maecenas fringilla tempus metus, quis tempus felis. Etiam sed est justo.
        </p>
    </div>
    <div class="thought_snippet">
        <h3>Thought topic title number 3:</h3>
        <p class="topic_content">
            Integer vitae interdum leo. Aliquam fermentum elit ut justo luctus pharetra. Nulla erat lectus, auctor eget interdum ac, posuere et ex. Phasellus rutrum dignissim magna, in sagittis turpis ultricies vel. In eget mi ullamcorper, commodo odio ut, auctor ex. Donec congue, risus eu tempor dignissim, felis urna consectetur libero, id sodales nisi sapien non erat. Suspendisse sed est felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet laoreet lectus ut condimentum. Vivamus mollis molestie ipsum quis dignissim. Etiam fringilla ultricies tincidunt. Duis a laoreet nisl. Vivamus nec mauris sed ligula sodales tincidunt.
        </p>
    </div>
    <div class="thought_snippet">
        <h3>Thought topic title number 4:</h3>
        <p class="topic_content">
            Integer vitae interdum leo. Aliquam fermentum elit ut justo luctus pharetra. Nulla erat lectus, auctor eget interdum ac, posuere et ex. Phasellus rutrum dignissim magna, in sagittis turpis ultricies vel. In eget mi ullamcorper, commodo odio ut, auctor ex. Donec congue, risus eu tempor dignissim, felis urna consectetur libero, id sodales nisi sapien non erat. Suspendisse sed est felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet laoreet lectus ut condimentum. Vivamus mollis molestie ipsum quis dignissim. Etiam fringilla ultricies tincidunt. Duis a laoreet nisl. Vivamus nec mauris sed ligula sodales tincidunt.
        </p>
    </div>
    <div class="thought_snippet">
        <h3>Thought topic title number 5:</h3>
        <p class="topic_content">
            Integer vitae interdum leo. Aliquam fermentum elit ut justo luctus pharetra. Nulla erat lectus, auctor eget interdum ac, posuere et ex. Phasellus rutrum dignissim magna, in sagittis turpis ultricies vel. In eget mi ullamcorper, commodo odio ut, auctor ex. Donec congue, risus eu tempor dignissim, felis urna consectetur libero, id sodales nisi sapien non erat. Suspendisse sed est felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet laoreet lectus ut condimentum. Vivamus mollis molestie ipsum quis dignissim. Etiam fringilla ultricies tincidunt. Duis a laoreet nisl. Vivamus nec mauris sed ligula sodales tincidunt.
        </p>
    </div>
    <div class="thought_snippet">
        <h3>Thought topic title number 6:</h3>
        <p class="topic_content">
            Integer vitae interdum leo. Aliquam fermentum elit ut justo luctus pharetra. Nulla erat lectus, auctor eget interdum ac, posuere et ex. Phasellus rutrum dignissim magna, in sagittis turpis ultricies vel. In eget mi ullamcorper, commodo odio ut, auctor ex. Donec congue, risus eu tempor dignissim, felis urna consectetur libero, id sodales nisi sapien non erat. Suspendisse sed est felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet laoreet lectus ut condimentum. Vivamus mollis molestie ipsum quis dignissim. Etiam fringilla ultricies tincidunt. Duis a laoreet nisl. Vivamus nec mauris sed ligula sodales tincidunt.
        </p>
    </div>
    <div class="Right_Sidebar">
        <a href="topiclink">Topic Category 1</a>
        <a href="topiclink">Topic Category 2</a>
        <a href="topiclink">Topic Category 3</a>
        <a href="topiclink">Topic Category 4</a>
        <a href="topiclink">Topic Category 5</a>
        <a href="topiclink">Topic Category 6</a>
        <a href="topiclink">Topic Category 7</a>
        <a href="topiclink">Topic Category 8</a>
    </div>

